body{
    background-color: white;
}
.jogador{
    width: 49px;
    height: 60px;
    background-image: url(imagens/jogador0.png);
    animation-name: movimentoJogador;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0;
}
.zumbi{
    width: 50px;
    height: 60px;
    background-image: url(imagens/zumbi0.png);
    animation-name: movimentoZumbi;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0;
}
.fimDeJogo{
    text-align: center;
    margin-top: 50px;
    color: rgb(82, 13, 161);
    font-family: arial;
}
.reiniciar{
    text-align: center;
    margin-top: 75px;
    font-family: arial;
}
@keyframes deslizarEsquerda{
    from{
        background-position: 0;
    }
    to
    {
        background-position: 6000%;
    }
}
@keyframes movimentoJogador{
    0% {background-image: url(imagens/jogador0.png);}
    35% {background-image: url(imagens/jogador1.png);}
    70% {background-image: url(imagens/jogador2.png);}
}
@keyframes movimentoZumbi{
    0% {background-image: url(imagens/zumbi0.png);}
    35%{background-image: url(imagens/zumbi1.png);}
    70% {background-image: url(imagens/zumbi2.png);}
}
.planoDeFundo{
    position: absolute;
    bottom: 0;
    background-image: url(imagens/planoDeFundo.png); /* <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com</a>*/
    background-repeat: repeat-x;
    animation: deslizarEsquerda 500s infinite linear;
    width: 100%;
    height: 120%; 
}